body {
    background: #444;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.main,
.details,
.weather_forecast {
    border-radius: 30px;
    background: #444;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.50));
}

@media (max-width: 992px) {

    .main,
    .details,
    .weather_forecast {
        margin-bottom: 1rem;
    }
}

#search_input {
    background: #444;
    color: white;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
}

#search_input::placeholder {
    color: white;
}

#description::first-letter {
    text-transform: capitalize;
}

#units .active {
    color: white;
    cursor: default;
}

#units .active:hover {
    text-decoration: none;
}

.weather_forecast_col {
    border-radius: 40px;
    background: #373636;
}

@media (max-width: 992px) {

    .weather_forecast_col {
        margin-bottom: 1rem;
    }
}

.weather_forecast_temperature_min,
.text {
    color: rgba(255, 255, 255, 0.60);
}